VITE_SELL4ME_API_KEY=sel4me_1d983a5d3359921a6c5e4b3cffb95eebd4373e862316a09d
VITE_SELL4ME_STORE_ID=46639064a609419090baec90b799e967
VITE_SELL4ME_API_URL=https://api.sell4me.store
VITE_SELL4ME_CURRENCY=usd
VITE_SELL4ME_STORE_NAME=MindFuel Kitchen
VITE_SELL4ME_STORE_USERNAME=
